<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Identity* Dev Feed" value="https://www.myget.org/F/identity/" />
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>