<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="OAuthCtrl">
    <div class="container" ng-cloak>
        <header class="page-header">
            <h1>JavaScript Implicit Client</h1>
        </header>

        <div class="row">
            <ul class="list-unstyled list-inline">
                <li><button class="btn btn-default" ng-click="request('openid', 'id_token')">Login Only</button></li>
                <li><button class="btn btn-default" ng-click="request('openid profile email', 'id_token')">Login With Profile</button></li>
                <li><button class="btn btn-default" ng-click="request('openid profile read write email', 'id_token token')">Login With Profile and Access Token</button></li>
                <li><button class="btn btn-default" ng-click="request('read write', 'token')">Access Token Only</button></li>
            </ul>
        </div>

        <div class="row" ng-show="response.raw">
            <div class="panel panel-default">
                <div class="panel-heading">Response</div>
                <div class="panel-body">
                    <pre>{{response.raw}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-show="response.id_token_json">
                <div class="panel panel-default">
                    <div class="panel-heading">ID Token Contents</div>
                    <div class="panel-body">
                        <pre>{{response.id_token_json}}</pre>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" ng-show="response.access_token_json">
                <div class="panel panel-default">
                    <div class="panel-heading">Access Token Contents</div>
                    <div class="panel-body">
                        <pre>{{response.access_token_json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- for JWS -->

    <script src="Scripts/crypto.js"></script>
    <script src="Scripts/rsa.js"></script>
 
    <script src="Scripts/json-sans-eval.js"></script>
    <script src="Scripts/jws-3.0.js"></script>
    <!-- /for JWS -->


    <script src="Scripts/jquery-1.9.0.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="OAuthClient.js"></script>
    <script>
        var app = angular.module("app", []);

        app.factory("signingCertificate", function ($http) {
            var url = "http://localhost:3333/core/.well-known/jwks";
            return $http.get(url).then(function (response) {
                console.log(response.data);
                return response.data.keys[0].x5c[0];
            });
        });

        app.factory("storage", function ($window) {

            function Storage(name, store) {
                this.name = store;
                this.store = store;
            }
            Storage.prototype.get = function () {
                var item = this.store.getValue(name);
                if (item) {
                    return JSON.parse(item);
                }
            };
            Storage.prototype.set = function (value) {
                if (value) {
                    this.store.setItem(name, JSON.stringify(value));
                }
                else {
                    this.store.removeItem(name);
                }
            };

            return {
                create: function (name) {
                    return new Storage(name, $window.sessionStorage);
                }
            };
        });

        app.controller("OAuthCtrl", function ($scope, $window, storage, $location, signingCertificate) {
            var oauth = new OAuthClient("http://localhost:3333/core/connect/authorize");
            //var oauth = new OAuthClient("http://idsrv3.azurewebsites.net/core/connect/authorize");

            var store = storage.create("js_implicit_demo");

            $scope.response = {};

            var hash = $location.path().substring(1);
            var response = oauth.parseResult(hash);
            if (response) {
                $scope.response.raw = JSON.stringify(response, null, 2);

                if (response.id_token) {
                    signingCertificate.then(function (cert) {
                        try {
                            var jws_id = new KJUR.jws.JWS();
                            result = jws_id.verifyJWSByPemX509Cert(response.id_token, cert);
                            if (result == 1) {
                                $scope.response.id_token_json = JSON.stringify(JSON.parse(jws_id.parsedJWS.payloadS), null, 2);
                            } else {
                                $scope.response.id_token_json = "JWS signature is *Invalid*.";
                            }
                        } catch (ex) {
                            //alert("Error: " + ex);
                            result = 0;
                        }
                    });
                    
                }

                if (response.access_token) {
                    $scope.response.access_token = response.access_token;

                    var jws = new KJUR.jws.JWS();
                    var valid = jws.parseJWS(response.access_token);
                    $scope.response.access_token_json = JSON.stringify(JSON.parse(jws.parsedJWS.payloadS), null, 2);
                }
            }

            $scope.request = function (scope, responseType) {
                var req = oauth.createImplicitFlowRequest(
                    "implicitclient",
                    "http://localhost:21575/index.html",
                    scope,
                    responseType);
                store.set(req.state);
                $window.location = req.url;
            }
        });

    </script>
</body>

</html>
