<div class="page-header">
    <h1>Edit User <span ng-show="model.user">: {{model.user.username}}</span></h1>
</div>

<div class="row" ng-show="model.message">
    <div class="col-sm-8">
        <div ng-class="model.success ? 'alert alert-success' : 'alert alert-danger'">{{model.message}}</div>
    </div>
</div>

<form ng-submit="setPassword(model.user.subject, model.password)" class="form-group">
    <div class="col-sm-8">
        <div class="input-group form-group">
            <label for="password" class="input-group-addon">Set Password</label>
            <input type="text" id="password" ng-model="model.password" class="form-control" placeholder="Password" autofocus>
            <span class="input-group-btn">
                <button class="btn btn-primary">Set</button>
            </span>
        </div>
    </div>
</form>