<div class="page-header">
    <h1>
        Edit User <span ng-show="model.user">: {{model.user.username}}</span>
        <small class="subject">{{model.user.subject}}</small>
    </h1>
</div>

<div class="row" ng-show="model.message">
    <div class="col-sm-8">
        <div ng-class="model.success ? 'alert alert-success' : 'alert alert-danger'">{{model.message}}</div>
    </div>
</div>

<form name="setPasswordForm" class="form-inline" ng-submit="setPassword(model.user.subject, model.password, model.confirm)">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="password">Set Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required autofocus ng-model="model.password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="confirm" placeholder="Confirm" required ng-model="model.confirm">
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="setPasswordForm.$invalid">Set</button>
    </div>
</form>
