@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Thinktecture IdentityServer v3</h1>
    <p class="lead">OWIN/Katana authentication middleware sample for WS-Federation</p>
</div>