@model System.Security.Claims.ClaimsPrincipal

@{
    ViewBag.Title = "Claims";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <ul>
        @foreach (var claim in Model.Claims)
        {
            <li>@claim.Type<br />@claim.Value</li> 
        }
    </ul>
</section>