body {
  margin-top: 65px;
}
.consent-buttons {
  margin-top: 25px;
}
.consent-form .consent-scopecheck {
  display: inline-block;
  margin-right: 5px;
}
.consent-form .consent-description {
  margin-left: 25px;
}
.consent-form .consent-description label {
  font-weight: normal;
}
.consent-form .consent-remember {
  padding-left: 16px;
}
.login-page .list-unstyled {
  margin-left: 25px;
}
.login-page .list-unstyled li {
  margin-bottom: 10px;
}
.login-page .login-remember {
  padding-left: 16px;
}
.login-page .login-remember input {
  margin-right: 5px;
}
iframe.signout {
  display: none;
}
.page-permissions .page-header {
  margin-bottom: 10px;
}
.permissions .permission {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.permissions .permission img {
  width: 100px;
  height: 100px;
}
.permissions .permission .permission-clientname {
  font-size: 140%;
  font-weight: bold;
}
.permissions .permission .permission-type {
  font-size: 120%;
  font-weight: bold;
}
.permissions .permission li {
  list-style-type: none;
  display: inline;
}
.permissions .permission li:after {
  content: ', ';
}
.permissions .permission li:last-child:after {
  content: '';
}
