
<div class="jumbotron">
    <h1>IdentityServer Administration</h1>
    <p>Manage your identities.</p>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <div class="well well-lg text-center">
            <h3>
                You can view your users.
            </h3>
            <a href="#/list" class="btn btn-default btn-lg btn-block btn-primary">View All Users</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well well-lg text-center bg-info">
            <h3>
                You can create new users.
            </h3>
            <a href="#/create" class="btn btn-default btn-lg btn-block btn-warning">Create New User</a>
        </div>
    </div>
</div>
