
<div class="page-header">
    <h1>Users</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <label for="filter">Filter:</label>
        <input id="filter" ng-model="filter">
        <button ng-click="search(filter)">Search</button>
    </div>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Username</th>
        </tr>
    </thead>
    <tr ng-repeat="user in model.users">
        <td>{{user.subject}}</td>
        <td>{{user.username}}</td>
    </tr>
</table>